################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RepositoryPattern/bin/Debug/net8.0
/.vs/PatternNArchi/CopilotIndices/17.13.431.34963
/RepositoryPattern/obj
/.vs/PatternNArchi/FileContentIndex
/.vs/PatternNArchi
/UnitOfWork/bin/Debug/net8.0
/UnitOfWork/obj
